In [ ]:
import pandas as pd
import numpy as np

#A dataframe is the main data structure in pandas. It is a 2-dimensional labeled data structure with columns of potentially different types.

#Sample data. This method works as to populate the row label
# data = {
#     'Name': ['Alice', 'Bob', 'Charlie', 'David'],
#     'Age': [24, 27, 22, 32],
#     'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
# }
data = [['Laptop', 'Smartphone', 'Tablet', 'Monitor'],[1200, 800, 300, 400],[50, 200, 150, 75]]

#Creating a DataFrame
data = pd.DataFrame(data, columns=['Item1', 'Item2', 'Item3', 'Item4'], index=['Product', 'Price', 'Stock'])
print(data)
data = [[1,2,3],[4,5,6],[7,8,9]]

#Creating a DataFrame
data = pd.DataFrame(data, columns=['A', 'B', 'C'], index=['x', 'y', 'z'])

#Dataframe operations
data.head() #Returns the first n(5 default) rows of the DataFrame
data.tail() #Returns the last n rows of the DataFrame
data.columns #Returns the column labels of the DataFrame
data.index #Returns the row labels of the DataFrame
print("-------------------")
print(data.describe()) #Generates descriptive statistics of the DataFrame
print("-------------------")

data.info() #Provides a concise summary of the DataFrame
#data.sort_values(by='Item3') #Sorts the DataFrame by the specified column
#data['Item1'] #Accessing a specific column
#data.loc['Product'] #Accessing a specific row by label
data.iloc[1] #Accessing a specific row by integer location
data.iloc[0, 2] #Accessing a specific element by row and column indices
data.nunique() #Returns the number of unique values in each column
data["A"].nunique() #Returns the number of unique values in column A
data.unique() #Returns the unique values in column A
data["A"].unique() #Returns the number of unique values in column A
data.isnull().sum() #Returns the number of missing values in each column
data.shape #Returns the dimensions of the DataFrame (rows, columns)
data.index.tolist() # Access index values as a list
data.size # Number of elements in the DataFrame
data.iterrows() # Iterate over DataFrame rows as (index, Series) pairs
data.dropna() # Remove rows with missing values

In [ ]:
coffee_data = pd.read_csv('csv_files/coffee.csv') # Load data from CSV
olympics_data = pd.read_csv('csv_files/bios.csv')

coffee_data.sample(5) # Display a random sample of 5 rows. random_state can be set for reproducibility
# print(coffee_data.loc[[0,1]])
# print(coffee_data["Day"]) # Select a single column
# print(coffee_data.loc[[0,1], "Day"])
# print("---------------")
# print(coffee_data.loc[0:3, ['Day', 'Coffee Type']]) # Select specific rows and columns using .loc
# print(olympics_data.iloc[0:5, 0:3]) # Select specific rows and columns using .iloc. It's loc but with integer positions
# coffee_data.index = coffee_data['Day'] # Set a column as the index
# print(coffee_data.head()) # Access index values as a list
# print(coffee_data.loc["Monday"]) #Now you can do shit like this with loc
# coffee_data.loc[1,"Units Sold"] = 100 #Updating the value of a specific cell
# #coffee_data.loc[1:4,["Day", "Units Sold"]] = 100 #Updating the value of a multiple cells
# print(coffee_data.head())

# #Accessing Data 
# coffee_data.sort_values("Units Sold", ascending=False) #For sorting data row-wise with the column

# #Filtering Data

# olympics_data.loc[olympics_data["height_cm"] > 215].head() # Filter rows based on a condition
# olympics_data.loc[olympics_data["height_cm"] > 215, ["name", "height_cm"]].head() # Filter rows based on a condition
# olympics_data[olympics_data["height_cm"] > 215] # Shorter version
# olympics_data[olympics_data["height_cm"] > 215][["name", "height_cm"]] # Shorter version
olympics_data[(olympics_data['height_cm'] > 215) & (olympics_data['born_country'] == 'USA')] # Filter with multiple conditions

olympics_data[olympics_data['name'].str.contains('keith', case=False)] # Filter rows where column contains a substring (case-insensitive)
olympics_data[olympics_data['name'].str.contains('keith | patrick', case=False)] # Filter rows where column contains a substring (case-insensitive)
olympics_data[olympics_data['name'].str.contains(r'^[AEIOUaeiou]', na=False)] # Regex string filter (e.g., names starting with a vowel)
olympics_data[olympics_data['born_country'].isin(['USA', 'FRA', 'GBR'])] # Filter rows where column value is in a list

olympics_data.query("height_cm > 215 and born_country == 'USA'") # Using query method for filtering with multiple conditions

#Adding/Modifying/Removing Columns
# coffee = coffee_data.copy() # Create a copy to work with

# coffee['price'] = 4.99 # Add a new column with a constant value
# coffee['new_price'] = np.where(coffee['Coffee Type'] == 'Espresso', 3.99, 5.99) # Conditional column using numpy.where
# coffee.drop(columns=['price'], inplace=True) # Remove column(s) from the DataFrame
# coffee.rename(columns={'new_price': 'price'}, inplace=True) # Rename columns
# coffee['revenue'] = coffee['Units Sold'] * coffee['price'] # Create new column from existing columns

# nocs = pd.read_csv('./data/noc_regions.csv') # Load CSV to use in merge
# olympics_data_new = pd.merge(olympics_data, nocs, left_on='born_country', right_on='NOC', how='left') # Merge DataFrames (left join)
# usa = olympics_data[olympics_data['born_country'] == 'USA'].copy() # Subset DataFrame
# gbr = olympics_data[olympics_data['born_country'] == 'GBR'].copy() # Subset DataFrame
# new_df = pd.concat([usa, gbr]) # Concatenate DataFrames

# coffee['Units Sold'].fillna(0, inplace=True) # Fill NaNs with a specific value
# coffee['Units Sold'].interpolate(inplace=True) # Interpolate missing values
# coffee.dropna(subset=['Units Sold'], inplace=True) # Drop rows with NaNs in a subset of columns

# olympics_data['born_city'].value_counts() # Value counts for a column
# coffee.groupby(['Coffee Type'])['Units Sold'].sum() # Group by and sum aggregation
# coffee.groupby(['Coffee Type'])['Units Sold'].mean() # Group by and mean aggregation
# pivot = coffee.pivot(columns='Coffee Type', index='Day', values='revenue') # Create a pivot table

# coffee['cumsum'] = coffee['Units Sold'].cumsum() # Cumulative sum
# latte = coffee[coffee['Coffee Type'] == "Latte"].copy() # Subset for a specific coffee type
# latte['3day'] = latte['Units Sold'].rolling(3).sum() # 3-day rolling sum
# olympics_data['height_rank'] = olympics_data['height_cm'].rank(ascending=False) # Rank values in a column
# coffee['yesterday_revenue'] = coffee['revenue'].shift(1) # Shift values down by 1 (lag)

# results_arrow = pd.read_csv('./data/results.csv', engine='pyarrow', dtype_backend='pyarrow') # Read CSV using PyArrow backend for performance
# results_arrow.info() # Show info for DataFrame loaded with PyArrow backend

,athlete_id,name,born_date,born_city,born_region,born_country,NOC,height_cm,weight_kg,died_date
5781,5804,Tommy Burleson,1952-02-24,Crossnore,North Carolina,USA,United States,223.0,102.0,NaN
6722,6755,Shaquille O'Neal,1972-03-06,Newark,New Jersey,USA,United States,216.0,137.0,NaN
6937,6972,David Robinson,1965-08-06,Key West,Florida,USA,United States,216.0,107.0,NaN
123850,126093,Tyson Chandler,1982-10-02,Hanford,California,USA,United States,216.0,107.0,NaN