In [ ]:
import pandas as pd
import numpy as np

#A dataframe is the main data structure in pandas. It is a 2-dimensional labeled data structure with columns of potentially different types.

#Sample data. This method works as to populate the row label
# data = {
#     'Name': ['Alice', 'Bob', 'Charlie', 'David'],
#     'Age': [24, 27, 22, 32],
#     'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
# }
data = [['Laptop', 'Smartphone', 'Tablet', 'Monitor'],[1200, 800, 300, 400],[50, 200, 150, 75]]

#Creating a DataFrame
data = pd.DataFrame(data, columns=['Item1', 'Item2', 'Item3', 'Item4'], index=['Product', 'Price', 'Stock'])
print(data)
data = [[1,2,3],[4,5,6],[7,8,9]]

#Creating a DataFrame
data = pd.DataFrame(data, columns=['A', 'B', 'C'], index=['x', 'y', 'z'])

#Dataframe operations
data.head() #Returns the first n(5 default) rows of the DataFrame
data.tail() #Returns the last n rows of the DataFrame
data.columns #Returns the column labels of the DataFrame
data.index #Returns the row labels of the DataFrame
print("-------------------")
print(data.describe()) #Generates descriptive statistics of the DataFrame
print("-------------------")

data.info() #Provides a concise summary of the DataFrame
#data.sort_values(by='Item3') #Sorts the DataFrame by the specified column
#data['Item1'] #Accessing a specific column
#data.loc['Product'] #Accessing a specific row by label
data.iloc[1] #Accessing a specific row by integer location
data.iloc[0, 2] #Accessing a specific element by row and column indices
data.nunique() #Returns the number of unique values in each column
data["A"].nunique() #Returns the number of unique values in column A
data.unique() #Returns the unique values in column A
data["A"].unique() #Returns the number of unique values in column A
data.isnull().sum() #Returns the number of missing values in each column
data.shape #Returns the dimensions of the DataFrame (rows, columns)
data.index.tolist() # Access index values as a list
data.size # Number of elements in the DataFrame
data.iterrows() # Iterate over DataFrame rows as (index, Series) pairs
data.dropna() # Remove rows with missing values

In [ ]:
import numpy as np

coffee_data = pd.read_csv('csv_files/coffee.csv') # Load data from CSV
olympics_data = pd.read_csv('csv_files/bios.csv')

coffee_data.sample(5) # Display a random sample of 5 rows. random_state can be set for reproducibility
print(coffee_data.loc[[0,1]])
print(coffee_data["Day"]) # Select a single column
print(coffee_data.loc[[0,1], "Day"])
print("---------------")
print(coffee_data.loc[0:3, ['Day', 'Coffee Type']]) # Select specific rows and columns using .loc
print(olympics_data.iloc[0:5, 0:3]) # Select specific rows and columns using .iloc. It's loc but with integer positions
coffee_data.index = coffee_data['Day'] # Set a column as the index
print(coffee_data.head()) # Access index values as a list
print(coffee_data.loc["Monday"]) #Now you can do shit like this with loc
coffee_data.loc[1,"Units Sold"] = 100 #Updating the value of a specific cell
#coffee_data.loc[1:4,["Day", "Units Sold"]] = 100 #Updating the value of a multiple cells
print(coffee_data.head())

#Accessing Data 
coffee_data.sort_values("Units Sold", ascending=False) #For sorting data row-wise with the column

#Filtering Data

olympics_data.loc[olympics_data["height_cm"] > 215].head() # Filter rows based on a condition
olympics_data.loc[olympics_data["height_cm"] > 215, ["name", "height_cm"]].head() # Filter rows based on a condition
olympics_data[olympics_data["height_cm"] > 215] # Shorter version
olympics_data[olympics_data["height_cm"] > 215][["name", "height_cm"]] # Shorter version
olympics_data[(olympics_data['height_cm'] > 215) & (olympics_data['born_country'] == 'USA')] # Filter with multiple conditions

olympics_data[olympics_data['name'].str.contains('keith', case=False)] # Filter rows where column contains a substring (case-insensitive)
olympics_data[olympics_data['name'].str.contains('keith | patrick', case=False)] # Filter rows where column contains a substring (case-insensitive)
olympics_data[olympics_data['name'].str.contains(r'^[AEIOUaeiou]', na=False)] # Regex string filter (e.g., names starting with a vowel)
olympics_data[olympics_data['born_country'].isin(['USA', 'FRA', 'GBR'])] # Filter rows where column value is in a list

olympics_data.query("height_cm > 215 and born_country == 'USA'") # Using query method for filtering with multiple conditions

#Adding/Modifying/Removing Columns

coffee_copy = coffee_data.copy() # Create a copy to work with

coffee_copy['price'] = 4.99 # Add a new column with a constant value
coffee_copy.head()
coffee_copy['new_price'] = np.where(coffee_copy['Coffee Type'] == 'Espresso', 3.99, 5.99) # Conditional column using numpy.where. Basically adding a new column based on a condition
coffee_copy.drop(0, axis=0, inplace=True) # Remove row(s) from the DataFrame
coffee_copy.drop(columns=['price'], inplace=True) # Remove column(s) from the DataFrame
coffee_copy["revenue"] = coffee_copy['Units Sold'] * coffee_copy['new_price'] # Create new column from existing columns
coffee_copy.rename(columns={'new_price': 'price'}, inplace=True) # Rename columns
coffee_copy.head()

olympics_copy = olympics_data.copy() # Create a copy to work with
olympics_copy["firstname"] = olympics_copy['name'].str.split(' ').str[0] # Extract first name from full name\
olympics_copy["born_datetime"] = pd.to_datetime(olympics_copy['born_date']) # Convert string to datetime
olympics_copy["born_year"] = olympics_copy['born_datetime'].dt.year # Extract year from datetime
#olympics_copy["age_at_first_olympics"] = olympics_copy['first_olympic_year'] - olympics_copy['born_year'] # Calculate age at first Olympics
olympics_copy["height_category"] = olympics_copy['height_cm'].apply(lambda x: 'Tall' if x > 190 else 'Average' if x >= 170 else 'Short') # Categorize height using apply with a lambda function
def weight_category(weight): # Function to categorize weight. Although using a lambda is more concise
    if weight < 70:
        return 'Light'
    elif 70 <= weight <= 90:
        return 'Medium'
    else:
        return 'Heavy'
#olympics_copy["weight_category"] = olympics_copy.apply(weight_category, axis=1) # Categorize weight using apply with a function
olympics_copy["weight_category"] = olympics_copy['weight_kg'].apply(weight_category) # Categorize weight using apply with a function
olympics_copy.head()

In [ ]:
#Merging/Concatenating DataFrames
nocs = pd.read_csv('csv_files/noc_regions.csv') # Load CSV to use in merge
nocs.head() 
olympics_data_new = pd.merge(olympics_data, nocs, left_on='born_country', right_on='NOC', how='left', suffixes=('', '_right')) # Merge DataFrames (left join)
olympics_copy.head()
olympics_data_new.rename(columns={'region': 'born_country_full'}, inplace=True)
olympics_data_new.head()
usa = olympics_data[olympics_data['born_country'] == 'USA'].copy() # Subset DataFrame
gbr = olympics_data[olympics_data['born_country'] == 'GBR'].copy() # Subset DataFrame
new_df = pd.concat([usa, gbr]) # Concatenate DataFrames, one over the other

#Handling Missing Data/nulls
coffee_copy = coffee_data.copy() # Create a copy to work with
coffee_copy.loc[1:3, "Units Sold"] = np.nan # Introduce NaN values for demonstration
coffee_copy.fillna(coffee_copy['Units Sold'].mean(), inplace=True) # Fill NaNs with the mean of the column
coffee_copy['Units Sold'].fillna(100, inplace=True) # Fill NaNs with a specific value
#coffee.isnull().sum() # Count missing values in each column
coffee_copy['Units Sold'].interpolate(inplace=True) # Interpolate missing values when the nans are in between non-nan values
print(coffee_copy.head())
coffee_copy[coffee_copy['Units Sold'].notna()] # Drop rows with NaNs in a subset of columns

In [ ]:
#Aggregation/GroupBy/Pivot Tables/Window Functions with data
import pandas as pd
import numpy as np
coffee = pd.read_csv("csv_files/coffee.csv")
coffee['price'] = np.where(coffee['Coffee Type'] == 'Espresso', 3.99, 5.99)
coffee["revenue"] = coffee['Units Sold'] * coffee['price']
coffee.groupby(['Coffee Type'])["Units Sold"].sum() # Group by and sum aggregation
coffee.groupby(['Coffee Type', 'Day'])["Units Sold"].sum() # Multiple group bys and sum aggregation
coffee.groupby(['Coffee Type']).agg({"Units Sold": "sum", "price": "mean"}) # Group by and multiple operation aggregation
pivot = coffee.pivot(columns="Coffee Type", index="Day", values="revenue")#You can now proceed to find info easily with the mentioned csv file operations earlier
coffee
pivot

olympics = pd.read_csv('csv_files/bios.csv')
olympics["born_datetime"] = pd.to_datetime(olympics['born_date'])
olympics["born_year"] = olympics['born_datetime'].dt.year
olympics.groupby([olympics["born_year"], olympics['born_datetime'].dt.month])["name"].count().reset_index().sort_values("name", ascending=False) #Count is for counting the values in the generator object created by the groupby method, and reset_index is the convert the messy data into a simple easy-to-read table.

#Advanced functionalities like shift, rank and cumsum
coffee['yesterday_revenue'] = coffee['revenue'].shift(2) # Shift values down by 1 (lag)
coffee['pct_change'] = coffee['revenue'] / coffee['yesterday_revenue'] * 100
olympics['height_rank'] = olympics['height_cm'].rank(ascending=False) # Rank values in a column
olympics.sort_values(['height_rank'])
# coffee['cumsum'] = coffee['revenue'].cumsum() # Cumulative sum
latte = coffee[coffee['Coffee Type'] == "Latte"].copy()
latte['3days'] = latte['Units Sold'].rolling(3).sum()
latte
results_arrow = pd.read_csv('./data/results.csv', engine='pyarrow', dtype_backend='pyarrow') # Read CSV using PyArrow backend for performance
results_arrow.info() # Show info for DataFrame loaded with PyArrow backend

,Day,Coffee Type,Units Sold,price,revenue,yesterday_revenue,pct_change,3days
1,Monday,Latte,15,5.99,89.85,NaN,NaN,NaN
3,Tuesday,Latte,20,5.99,119.80,89.85,133.333333,NaN
5,Wednesday,Latte,25,5.99,149.75,119.80,125.000000,60.0
7,Thursday,Latte,30,5.99,179.70,149.75,120.000000,75.0
9,Friday,Latte,35,5.99,209.65,179.70,116.666667,90.0
11,Saturday,Latte,35,5.99,209.65,209.65,100.000000,100.0
13,Sunday,Latte,35,5.99,209.65,209.65,100.000000,105.0